@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: white;
}


/*
=============== 
Menu
===============
*/
body{
  background-image: url("../public/resto-bg.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}
.title {
  text-align: center;
  margin-bottom: 0.5rem;
  background: rgba(0, 0, 0, 0.85);
  padding: 20px;
  color: white;
  border-radius: 10px;
  font-size: 2rem;
}
.flex{
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.flex > img{
  height: 45px;
  background-color: white;
  padding: 6px;
  border-radius: 10px;
}
.smallcaps{
  font-variant: small-caps;
}
.underline {
  width: 15rem;
  height: 0.25rem;
  background: #c59d5f;
  margin-left: auto;
  margin-right: auto;
}
.btn-container {
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}
.filter-btn {
  margin: 0 0.5rem;
  padding: 0.375rem 0.75rem;
  color: #c59d5f;
  border: 1px solid #c59d5f;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s linear;
  background-color: transparent;
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.filter-btn:hover {
  background: #c59d5f;
  color: white;
}

.active-category{
	background: #c59d5f;
  color: white;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
  margin-bottom: 100px;

}
.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  align-items: center;
}
.photo {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 0.25rem solid #c59d5f;
  border-radius: 6px;
  display: block;
}
.item-info{
  padding: 0.5rem;
  border-radius: 10px;
  margin: 5px 0;
}
.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted #c59d5f;
}
.item-info h4 {
  margin-bottom: 0.2rem;
  font-size: 1.4rem;
  font-variant: small-caps;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.item-info .price {
  color: #c59d5f;
  font-size: 1.25rem;
}
.item-text {
  padding-top: 1rem;
}


@media screen and (max-width: 600px) {
  .title{
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 2fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}
